.user {
    .navbar {
        padding: 5px 0;
        background: #191919;
        min-height: 50px;
    } 
    &__content {
        display: flex;
        align-items:flex-start;
    }
    &__menu {
        width: 200px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    &__menu {
        &-mobile {
            display: none;
        }
        &-desctop {
            display: flex;
            gap: 10px;
            list-style: none;
            align-items:center;
            color:#fff;
        }
    }
    &__item {
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                color:$main-color;
            }
        }
        &-logout {
            background:#191919;
            border: 2px solid #36317b;
            padding: 5px;
            border-radius:2px;
            color:#fff;
            transition: all 0.5s;
            &:hover {
                background:#36317b;
                border: 2px solid #36317b;
                font-weight: bold;
            }
        }
    }
}
